{{#> layout}}
  <p>Congratulations! {{ username }} acceped your offer for {{internshipName}}. Please send your welcome package and address to their email ({{ userEmail }})</p>
  <p>Goodluck, and have a great menternship!</p>
{{/layout}}