{{#> layout}}
  <p>Congratulations! {{ username }} acceped your offer for {{internshipName}}. Please send your welcome package and address to their email ({{ userEmail }}), and remember to follow the <a href='https://github.com/Menternship/overview/blob/master/officialInternships.md'>Standard Internship</a> Guidelines</p>
  <p>Goodluck, and have a great menternship!</p>
{{/layout}}