{{#> layout}}
  <p>Now that you're officially an intern at {{internshipName}}, there are a few things to remember</p>
  <ol>
    <li>While your Mentor might have their own time tracking system like JIRA that they would like you to use, it's important to also log your hours <a href={{logHoursUrl}}>here</a></li>
    <li>In the software world, time spent learning is time on the clock, so don't be afraid to log hours even if you're not technically writing code</li>
    <li>You're officially volunteering your time, and if you feel that your mentor is not providing you with a rewarding experience, let them know. If the situation does not improve, you always have the right to walk away</li>
  </ol>
  <p>Goodluck, and have a great menternship!</p>
{{/layout}}