<div>
    <p>Thank you {{username}} for signing up with Title</p>
    <p>To complete your registration, please click the link below to activate your account</p>
    <a href={{activationLink}}>Click here to Activate</a>
    <p>Sincerely, The Title Team<p>
</div>